
body {
    display: flex;
    height: auto;
    margin: 0px
}

.head-section {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 0px 100px 60px;
}

.h-link {
    text-decoration: none;
    width: 30%;
}

.hero-text, .h-link {
    font-size: 18px;
    color: #E5E7EB;
}

.first {
    display: flex;
    justify-content: space-between;
    gap: 8%;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 65%;
}

.main-photo {
    width: 35%;
}

.second {
    background: white;
    padding: 60px 100px 60px;
}

.third {
    background: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 100px;
}

.fourth {
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 40px 100px;
    box-sizing: border-box;
}

@media (max-width: 700px){
    .head-section {
        padding: 0px 20px 60px
    }
    .head {
        padding: 0px 20px 60px
    }
    .h-link {
        font-size: 14px
    }
    .second, .third, .fourth {
        padding: 3%;
    }
    .first {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .text {
        width: 100%
    }
    .main-photo {
        width: 100%;
    }
    .second-container {
        display: flex;
        flex-direction: column;
    }
}

.header-links {
    display: flex;
    gap: 3%;
    justify-content: flex-end;
}

.head {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 60px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

img, .main-image {
    flex-grow: 0;
    border-radius: 20px;
}

.second-container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.container {
    display: flex;
    flex-direction: column;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    height: 26px;
    width: 100px;
}

.information {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding-bottom: 40px;
}

.info {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.image-text {
    gap: 10px;
}

.main-image {
    border: 2px solid blue;
    width: 80%;
}

.quote {
    align-self: center;
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
}

.author {
    align-self: flex-end;
    font-weight: 900;
}

.sign-up-area {
    background-color: #3882F6;
    display: flex;
    padding: 10px;
    gap: 100px;
    border-radius: 10px;
}

.last-text {
    display: flex;
    flex-direction: column;
}

.last-header {
    font-weight: 800;
    color: white;
    font-size: 20px;
}

.sign-up {
    color:lightgray;
}

.sign-up-button {
    border-color: white;
}

.footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 25px;
}